
.nobreivik-debug-container {
	border: 1px solid black;
	position: absolute;
	right: 30px;
	top: 30px;
	width: 100px;
	border: 1px solid black;
	padding: 5px;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	background-color: white;
	font-family: Arial;
	font-size: 12px;
}

.nobreivik-debug-container li {
	list-style-type: none;
	margin-bottom: 5px;
}